<main class='dashboard'>
  <div class="welcome">
    <h3>Welcome, <%= @user.name %></h3>
  </div>

  <div class="summary">
    <div class="profile">
      <h4>Political Profile:</h4>
      <% if @user.profile.nil? %>
        <%= button_to 'Create Your Profile', new_user_profile_path(@user), method: :get %>
      <% else %>
        <h5>Your political types:</h5>
        <%= render partial: 'profiles/summary' %>
      <% end %>
    </div>
    <div class="updates">
      <div class="news">
        <h4>Top News:</h4>
      </div>
      <div class="social-feed">
        <h4>Candidate Tweets:</h4>
      </div>
    </div>
  </div>

  <div class="top-candidates">
    <h4>Top Candidates</h4>
  </div>
</main>
