<ul class="profile">
  <li class="type">Political Type: <%= @profile.political_type %></li>
  <li class="preferred_party">Preferred Party: <%= @profile.preferred_party %></li>
</ul>
<div class="gauge-charts">
  <div id="auth-chart"></div>
  <div id="soc-chart"></div>
  <span id='authority'><%= @profile.authority_rating %></span>
  <span id='social'><%= @profile.social_rating %></span>
</div>
