
<main class='login'>
  <div class="normal-login">
    <div class="login-header">
      <h4>Log in</h4>
    </div>
    <%= render partial: 'sessions/form' %>
    <%= link_to 'sign up', sign_up_path %>
  </div>

  <div class="o-auth">
    <div class="o-auth-buttons">
      
    </div>
  </div>
</main>
