<main class='account-edit-form'>
  <div class="normal-signup">
    <div class="form-title">
      <h4>Edit your account information</h4>
    </div>
    <%= render partial: 'users/edit_form' %>
  </div>
</main>
