<header class='home-header'>
  <div class="logo-group">
    <div class="logo">
      <h4>Logo</h4>
    </div>
    <div class="home-log-in">
      <%= link_to 'Log In', login_path %>
    </div>
  </div>
  <div class="center-group">
    <h2>Political Match</h2>
    <%= button_to 'Sign Up', sign_up_path, method: :get %>
  </div>
</header>

<div class="about-us">
  <h3>About Political Match</h3>
  <ul class="about-us-cards">
    <li class="about-us-card">
      <h4>Political Pairing</h4>
    </li>
    <li class="about-us-card">
      <h4>Your Profile</h4>
    </li>
    <li class="about-us-card">
      <h4>Real Data</h4>
    </li>
  </ul>
</div>
