.dashboard
  padding: 20px

  h4
    text-align: center

  .welcome
    text-align: center

  .summary
    display: flex
    flex-direction: row
    justify-content: space-around
    margin: 20px
    height: 300px

    .profile-container
      display: flex
      flex-direction: column
      width: 40%
      padding: 10px
      border: 1px black solid

      .politician-info
        display: flex
        flex-direction: row
        justify-content: space-around

      .profile-create
        margin-left: 35%
        margin-right: 35%
        margin-top: 15%

    .overall
      display: flex
      flex-direction: column
      width: 40%
      padding: 10px
      border: 1px black solid

      .main-chart
        height: 100%

  .matches-container
    height: 500px
    padding: 10px
    border: 1px black solid

    .best-matches
      margin-top: 5%
      display: flex
      flex-direction: row
      justify-content: space-around

      .best-matches-card
        height: 300px
        width: 300px
        border: solid black .5px
        overflow: hidden

        .politician-image
          padding: 10px
          height: 120px
          width: 110px

          img
            height: 100%
            width: 100%

          .politician-image-id
            display: none
