.flash
  min-height: 40px
  text-align: center

  *
    height: 100%
    padding-top: .5%
    margin: 0

  .error
    background-color: #a50d0d
    color: white

  .success
    background-color: #0f8411
    color: white

  .warning
    background-color: #ef8802
    color: white
