.header
  display: flex
  flex-direction: row
  justify-content: space-between
  background-color: #18263c
  height: 100px
  padding: 20px

  img
    height: 40px
    width: 40px

  .site-title
    font-family: 'Alegreya', serif
    font-weight: 700
    line-height: 46px
    font-size: 46px
    color: white
    text-decoration: none

  a
    text-decoration: none
    color: white

  .btn-outline-light
    border: none

    .user-account-image
      height: 30px
      width: 30px
      border-radius: 50%

  .btn-outline-light:hover
    border: none
    background-color: transparent
    color: white

  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle
    border: none
    background-color: transparent
    color: white

  .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus
    box-shadow: none

  .btn-outline-light:focus, .btn-outline-light.focus
    box-shadow: none

  .dropdown-item
    color: black
