.home-header
  height: 400px
  background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), image-url('header') no-repeat top
  background-size: cover
  color: white

  .logo-group
    padding: 20px
    display: flex
    flex-direction: row
    justify-content: space-between

    a
      color: white

  .center-group
    margin-top: 8%
    text-align: center

    .btn
      margin-top: 10px

.about-us
  text-align: center
  padding: 30px

  .about-us-cards
    display: flex
    flex-direction: row
    justify-content: space-around
    list-style: none
    padding: 30px

    .about-us-card
      height: 300px
      width: 300px
      border: solid .5px black
