.home-header
  height: 725px
  background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), image-url('bg_reflection') no-repeat center
  background-size: cover
  color: white

  .logo-group
    padding: 20px
    display: flex
    flex-direction: row
    justify-content: space-between

    img
      height: 40px
      width: 40px

    a
      color: white

  .center-group
    margin-top: 18%
    text-align: center

    .btn
      margin-top: 10px

.about-us
  text-align: center
  height: 650px
  padding: 20px

.about-profile
  text-align: center
  background-color: #18263c
  color: white
  height: 650px
  padding: 20px

.main-footer
  height: 100px
  padding: 20px
  background-color: #282c34
  color: white
  text-align: center
