<div class="politician-cards">
  <% @politicians.each do |politician| %>
    <ul class="politician-card">
      <h4><%= link_to "#{politician.title} #{politician.last_name}", politician_path(politician) %></h4>
      <li><%= politician.party %></li>
      <li><%= politician.state %></li>
    </ul>
  <% end %>
</div>
