---
http_interactions:
- request:
    method: post
    uri: https://apiv2.indico.io/political/batch
    body:
      encoding: UTF-8
      string: '{"data":["This is a liberal response","This is a liberal response"]}'
    headers:
      X-Apikey:
      - 8cbf23476e3491e3e5bd4a6a632f2780
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"Libertarian": 0.15013590455055237, "Liberal": 0.45563051104545593,
        "Green": 0.15895484387874603, "Conservative": 0.2352786511182785}, {"Libertarian":
        0.15013590455055237, "Liberal": 0.45563051104545593, "Green": 0.15895484387874603,
        "Conservative": 0.2352786511182785}]}'
  recorded_at: Wed, 06 Jun 2018 01:21:28 GMT
recorded_with: VCR 4.0.0
