---
http_interactions:
- request:
    method: post
    uri: https://apiv2.indico.io/political/batch
    body:
      encoding: UTF-8
      string: '{"data":["This is a conservative response","This is a conservative
        response"],"threshold":0.25}'
    headers:
      X-Apikey:
      - 8cbf23476e3491e3e5bd4a6a632f2780
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"Conservative": 0.42838984727859497}, {"Conservative":
        0.42838984727859497}]}'
  recorded_at: Sat, 02 Jun 2018 03:16:09 GMT
recorded_with: VCR 4.0.0
