---
http_interactions:
- request:
    method: post
    uri: https://apiv2.indico.io/political/batch
    body:
      encoding: UTF-8
      string: '{"data":["This is a conservative response","This is a conservative
        response"]}'
    headers:
      X-Apikey:
      - 8cbf23476e3491e3e5bd4a6a632f2780
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"Libertarian": 0.11249145865440369, "Liberal": 0.23209869861602783,
        "Green": 0.2270200550556183, "Conservative": 0.42838984727859497}, {"Libertarian":
        0.11249145865440369, "Liberal": 0.23209869861602783, "Green": 0.2270200550556183,
        "Conservative": 0.42838984727859497}]}'
  recorded_at: Wed, 06 Jun 2018 01:06:46 GMT
recorded_with: VCR 4.0.0
