---
http_interactions:
- request:
    method: post
    uri: https://apiv2.indico.io/political/batch
    body:
      encoding: UTF-8
      string: '{"data":["This is a liberal response","This is a liberal conservative
        response","Libertarian"]}'
    headers:
      X-Apikey:
      - 8cbf23476e3491e3e5bd4a6a632f2780
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"Libertarian": 0.15130950510501862, "Liberal": 0.4539010226726532,
        "Green": 0.15861085057258606, "Conservative": 0.23617865145206451}, {"Libertarian":
        0.061833083629608154, "Liberal": 0.3544682562351227, "Green": 0.0700581967830658,
        "Conservative": 0.5136404633522034}, {"Libertarian": 0.24480952322483063,
        "Green": 0.297527551651001, "Liberal": 0.22599492967128754, "Conservative":
        0.23166805505752563}]}'
  recorded_at: Wed, 06 Jun 2018 01:23:42 GMT
recorded_with: VCR 4.0.0
