---
http_interactions:
- request:
    method: post
    uri: https://apiv2.indico.io/political/batch
    body:
      encoding: UTF-8
      string: '{"data":["This is a liberal response","This is a liberal conservative
        response"],"threshold":0.25}'
    headers:
      X-Apikey:
      - 8cbf23476e3491e3e5bd4a6a632f2780
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"results": [{"Liberal": 0.4539010226726532}, {"Liberal": 0.3544682562351227,
        "Conservative": 0.5136404633522034}]}'
  recorded_at: Sat, 02 Jun 2018 03:26:57 GMT
recorded_with: VCR 4.0.0
