---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/members/A000374.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<PROPUBLICA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 40f453a8-6787-11e8-b341-0fdbdb0eb8f1
      X-Amz-Apigw-Id:
      - H7hQqFISIAMFW5Q=
    body:
      encoding: UTF-8
      string: "{\n   \"status\":\"OK\",\n   \"copyright\":\"Copyright (c) 2018 Pro
        Publica Inc. All Rights Reserved.\",\n   \"results\":[\n      {\n         \"member_id\":
        \"A000374\",\n         \n         \"first_name\": \"Ralph\",\n         \"middle_name\":
        null,\n         \"last_name\": \"Abraham\",\n         \"suffix\": null,\n
        \        \"date_of_birth\": \"1954-09-16\",\n         \"gender\": \"M\",\n
        \        \"url\": \"https://abraham.house.gov\",\n         \"times_topics_url\":
        \"\",\n         \"times_tag\": \"\",\n         \"govtrack_id\": \"412630\",\n
        \        \"cspan_id\": \"76236\",\n         \"votesmart_id\": \"155414\",\n
        \        \"icpsr_id\": \"21522\",\n         \"twitter_account\": \"RepAbraham\",\n
        \        \"facebook_account\": \"CongressmanRalphAbraham\",\n         \"youtube_account\":
        null,\n         \"crp_id\": \"N00036633\",\n         \"google_entity_id\":
        \"/m/012dwd7_\",\n         \"rss_url\": \"https://abraham.house.gov/rss.xml\",\n
        \        \"in_office\": true,\n         \"current_party\": \"R\",\n         \"most_recent_vote\":
        \"2018-05-24\",\n         \"roles\": [\n {\n           \"congress\": \"115\",\n
        \          \"chamber\": \"House\",\n           \"title\": \"Representative\",\n
        \          \"short_title\": \"Rep.\",\n           \"state\": \"LA\",\n           \"party\":
        \"R\",\n           \"leadership_role\": null,\n           \"fec_candidate_id\":
        \"H4LA05221\",\n           \"seniority\": \"4\",\n           \"district\":
        \"5\", \"at_large\": false,\n           \"ocd_id\": \"ocd-division/country:us/state:la/cd:5\",\n
        \          \"start_date\": \"2017-01-03\",\n           \"end_date\": \"2019-01-03\",\n
        \          \"office\": \"417 Cannon House Office Building\",\n           \"phone\":
        \"202-225-8490\",\n           \"fax\": \"202-225-5639\",\n           \"contact_form\":
        null,\n           \"bills_sponsored\": 6,\n           \"bills_cosponsored\":
        201,\n           \"missed_votes_pct\": 0.85,\n           \"votes_with_party_pct\":
        97.00,\n           \"committees\": [\n           {\n             \"name\":
        \"Committee on Agriculture\",\n             \"code\": \"HSAG\",\n             \"api_uri\":
        \"https://api.propublica.org/congress/v1/115/house/committees/HSAG.json\",\n
        \            \"side\": \"majority\",\n             \"title\": \"Member\",\n
        \            \"rank_in_party\": 19,\n             \"begin_date\": \"\",\n
        \            \"end_date\": \"2019-01-03\"\n           },\n           {\n             \"name\":
        \"Committee on Armed Services\",\n             \"code\": \"HSAS\",\n             \"api_uri\":
        \"https://api.propublica.org/congress/v1/115/house/committees/HSAS.json\",\n
        \            \"side\": \"majority\",\n             \"title\": \"Member\",\n
        \            \"rank_in_party\": 27,\n             \"begin_date\": \"\",\n
        \            \"end_date\": \"2019-01-03\"\n           },\n           {\n             \"name\":
        \"Committee on Science, Space, and Technology\",\n             \"code\": \"HSSY\",\n
        \            \"api_uri\": \"https://api.propublica.org/congress/v1/115/house/committees/HSSY.json\",\n
        \            \"side\": \"majority\",\n             \"title\": \"Member\",\n
        \            \"rank_in_party\": 13,\n             \"begin_date\": \"\",\n
        \            \"end_date\": \"2019-01-03\"\n           }\n           ],\n           \"subcommittees\":
        [\n           {\n             \"name\": \"Conservation and Forestry\",\n             \"code\":
        \"HSAG15\",\n             \"parent_committee_id\": \"HSAG\",\n             \"api_uri\":
        \"https://api.propublica.org/congress/v1/115/house/committees/HSAG/subcommittees/HSAG15.json\",\n
        \            \"side\": \"majority\",\n             \"title\": \"Member\",\n
        \            \"rank_in_party\": 7,\n             \"begin_date\": \"\",\n             \"end_date\":
        \"2019-01-03\"\n           },\n           {\n             \"name\": \"General
        Farm Commodities and Risk Management\",\n             \"code\": \"HSAG1[...]
[...]
