---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=RepDianaDeGette
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="DwPmAgcU6EitWAmOaV0Y7bT7G", oauth_nonce="b4cf0a9753ce4054a9b6ac5820e777be",
        oauth_signature="0%2FB1kLdhA69Oa3xuhR8JhiaknF8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528247203", oauth_token="4531817301-CYAnalSmpGmfaa2pg9j30W8JOPZjpCHqIntZWzh",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Jun 2018 01:06:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 86fe9bc3cae74a156ce02910d59e5d90
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '890'
      X-Rate-Limit-Reset:
      - '1528247490'
      X-Response-Time:
      - '109'
      X-Transaction:
      - '00977b340056db89'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Jun 05 22:28:53 +0000 2018","id":1004127947417182208,"id_str":"1004127947417182208","text":"Businesses
        should be #OpenToAll, &amp; so should our armed forces. That''s why I joined
        my colleagues in sending this le\u2026 https:\/\/t.co\/qCUc7MUCYx","truncated":true,"entities":{"hashtags":[{"text":"OpenToAll","indices":[21,31]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/qCUc7MUCYx","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1004127947417182208","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[121,144]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":28599820,"id_str":"28599820","name":"Rep.
        Diana DeGette","screen_name":"RepDianaDeGette","location":"Denver, CO","description":"Member
        of Congress, Colorado''s 1st Congressional District. Chief Deputy Whip & member
        of Energy and Commerce Committee.","url":"http:\/\/t.co\/ADHTXH6MGD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ADHTXH6MGD","expanded_url":"http:\/\/www.facebook.com\/DianaDeGette","display_url":"facebook.com\/DianaDeGette","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":40849,"friends_count":11239,"listed_count":1390,"created_at":"Fri
        Apr 03 16:41:06 +0000 2009","favourites_count":417,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":4120,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"B2DFDA","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/983409062099456000\/ArcUEaCQ_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/983409062099456000\/ArcUEaCQ_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/28599820\/1522074268","profile_link_color":"93A644","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":13,"favorite_count":30,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Jun 05 20:39:08 +0000 2018","id":1004100329959456774,"id_str":"1004100329959456774","text":"On
        #WorldEnvironmentDay, we pledge to #BeatPlasticPollution and reaffirm our
        commitment to defending our planet in\u2026 https:\/\/t.co\/A2woH3W4xg","truncated":true,"entities":{"hashtags":[{"text":"WorldEnvironmentDay","indices":[3,23]},{"text":"BeatPlasticPollution","indices":[38,59]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\[...]
[...]
