---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=Twitter
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="DwPmAgcU6EitWAmOaV0Y7bT7G", oauth_nonce="27b4932435deb592a12e1df4a629d3d2",
        oauth_signature="VVPiRLrsHMdsF0to5ctVZNqXx9E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1528069110", oauth_token="4531817301-CYAnalSmpGmfaa2pg9j30W8JOPZjpCHqIntZWzh",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 03 Jun 2018 23:38:30 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c1a756f37c661cac32afea7776e800c4
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '896'
      X-Rate-Limit-Reset:
      - '1528070009'
      X-Response-Time:
      - '66'
      X-Transaction:
      - '0038d7cf003adc1c'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Jun 01 19:45:05 +0000 2018","id":1002637177497538566,"id_str":"1002637177497538566","text":"Twitter
        is proud to support #Pride2018 and the LGBTQIA community. \n\nJoin us in celebrating
        #PrideMonth and inclusio\u2026 https:\/\/t.co\/i6DXgbsuJ6","truncated":true,"entities":{"hashtags":[{"text":"Pride2018","indices":[28,38]},{"text":"PrideMonth","indices":[91,102]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/i6DXgbsuJ6","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1002637177497538566","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":783214,"id_str":"783214","name":"Twitter","screen_name":"Twitter","location":"San
        Francisco, CA","description":"Your official source for what\u2019s happening.  Need
        a hand? Visit https:\/\/t.co\/heEvRrCFXn","url":"https:\/\/t.co\/gN5JJwhQy7","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/gN5JJwhQy7","expanded_url":"https:\/\/blog.twitter.com\/","display_url":"blog.twitter.com","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/heEvRrCFXn","expanded_url":"https:\/\/help.twitter.com","display_url":"help.twitter.com","indices":[63,86]}]}},"protected":false,"followers_count":62828669,"friends_count":145,"listed_count":90797,"created_at":"Tue
        Feb 20 14:35:54 +0000 2007","favourites_count":5544,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":6760,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"ACDED6","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme18\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/875087697177567232\/Qfy0kRIP_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/875087697177567232\/Qfy0kRIP_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/783214\/1527882062","profile_link_color":"1B95E0","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F6F6F6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1002619511931932672,"quoted_status_id_str":"1002619511931932672","quoted_status":{"created_at":"Fri
        Jun 01 18:34:54 +0000 2018","id":1002619511931932672,"id_str":"1002619511931932672","text":"And
        HERE are the hashtags that will trigger #Pride2018 Twitter emojis when you
        add them to your Tweets. https:\/\/t.co\/E0eVNQrTZ7","truncated":false,"entities":{"hashtags":[{"text":"Pride2018","indices":[44,54]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1002619255911616512,"id_str":"1002619255911616512","indices":[104,127],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1002619255911616512\/pu\/img\/lPqVE8Ddn6IaJ5vT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1002619255911616512\/pu\/img\/lPqVE8Ddn6IaJ5vT.jpg","url":"https:\/\/t.co\/E0eVNQrTZ7","display_url":"pic.twitter.com\/E0eVNQrTZ7","expanded_url":"https:\/\/twitter.com\/TwitterOpen\/status\/1002619511931932672\/video\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1002619255911616512,"id_str":"1002619255911616512","indices":[104,127],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1002619255911616512\/pu\/img\/lPqVE8Ddn6IaJ5vT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1002619255911616512\/pu\/img\/lPqVE8Ddn6IaJ5vT.jpg","url":"https:\/\/t.co\/E0eVNQrTZ7","display_url":"pic.twitter.com\/E0eVNQrTZ7","expanded_url":"https:\/\/twitter.com\/TwitterOpen\/status\/1002619511931932672\/video\/1","type":"video","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":675,"resize":"fit"},"small":{"w":680,"h":383,"resize":"fit"},"large":{"w":1280,"h":720,"resize":"fit"}},"video_info":{"aspect_ratio":[16,9],"duration_millis":12262,"variants":[{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1002619255911616512\/pu\/vid\/640x360\/ZtFVXrH-jMCKwMZs.mp4?tag=3"},{"bitrate":256000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1002619255911616512\/pu\/vid\/320x180\/FneM1U3hb9LLYq2g.mp4?tag=3"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/1002619255911616512\/pu\/pl\/RoMEKbUwZvULCTco.m3u8?tag=3"},{"bitrate":2176000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1002619255911616512\/pu\/vid\/1280x720\/HMDyyrdynFnO9QEl.mp4?tag=3"}]},"additional_media_info":{"monetizable":false}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":1002583060641009665,"in_reply_to_status_id_str":"1002583060641009665","in_reply_to_user_id":338604482,"in_reply_to_user_id_str":"338604482","in_reply_to_screen_name":"TwitterOpen","user":{"id":338604482,"id_str":"338604482","name":"TwitterOpen","screen_name":"TwitterOpen","location":"#JoinTheFlock","description":"The
        official account for the L[...]
