---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=RepDianaDeGette
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="DwPmAgcU6EitWAmOaV0Y7bT7G", oauth_nonce="abad0d72c991803271f5a5d90b82a334",
        oauth_signature="2qYB7uRAvXNmQ7vZOo4BbIaE4GY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1527910502", oauth_token="4531817301-CYAnalSmpGmfaa2pg9j30W8JOPZjpCHqIntZWzh",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 02 Jun 2018 03:35:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - eddfb2d5fd0fcb6e38d1e8eea1b05f9f
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1527911402'
      X-Response-Time:
      - '113'
      X-Transaction:
      - 00e9af5000ce2384
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Jun 01 21:18:39 +0000 2018","id":1002660722365562880,"id_str":"1002660722365562880","text":"RT
        @ProChoiceCaucus: A thought-provoking piece exposing the anti-choice mirage
        of an abortion-free society. In many Latin American countrie\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ProChoiceCaucus","name":"ProChoiceCaucus","id":809505942186455041,"id_str":"809505942186455041","indices":[3,19]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":28599820,"id_str":"28599820","name":"Rep.
        Diana DeGette","screen_name":"RepDianaDeGette","location":"Denver, CO","description":"Member
        of Congress, Colorado''s 1st Congressional District. Chief Deputy Whip & member
        of Energy and Commerce Committee.","url":"http:\/\/t.co\/ADHTXH6MGD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ADHTXH6MGD","expanded_url":"http:\/\/www.facebook.com\/DianaDeGette","display_url":"facebook.com\/DianaDeGette","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":40820,"friends_count":11239,"listed_count":1392,"created_at":"Fri
        Apr 03 16:41:06 +0000 2009","favourites_count":417,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":true,"statuses_count":4107,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"B2DFDA","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/983409062099456000\/ArcUEaCQ_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/983409062099456000\/ArcUEaCQ_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/28599820\/1522074268","profile_link_color":"93A644","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Jun 01 21:16:55 +0000 2018","id":1002660287097556992,"id_str":"1002660287097556992","text":"A
        thought-provoking piece exposing the anti-choice mirage of an abortion-free
        society. In many Latin American count\u2026 https:\/\/t.co\/I4Few60RNA","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/I4Few60RNA","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1002660287097556992","display_url":"twitt[...]
[...]
